.mt-100 {
  margin-top: 100px !important;
}

tr.hovered {
  background-color: #c8e0fe;
  color: white;
}
tr.selected {
  background-color: #e6e6e6;
}
.row_seleccionada {
  color: white;
}
.text-red {
  color: red;
}
// Expansible

table {
  width: 100%;
}

tr.fila_detalle {
  height: 0;
}

tr.fila_seleccionada:not(.example-expanded-row):hover {
  background: rgb(0, 132, 255);
  color: white;
  cursor: pointer;
}

tr.fila_seleccionada:not(.example-expanded-row):hover > .button_marker {
  color: white !important;
  cursor: pointer;
}

tr.fila_seleccionada:not(.example-expanded-row):active {
  background: #efefef;
  color: rgb(34, 33, 33);
}

.fila_seleccionada td {
  border-bottom-width: 0;
}

.detalle_expansible {
  overflow: hidden;
  display: flex;
}

.contenedor_imagen {
  // 264 × 254
  width: 100%;

  border: 4px solid;
  padding: 8px;
  font-weight: lighter;
  margin: 8px 0;
}

.example-element-symbol {
  font-weight: bold;
  font-size: 40px;
  line-height: normal;
}

.example-element-description {
  padding: 16px;
}

.example-element-description-attribution {
  opacity: 0.5;
}
.incompleto {
  background: white;
  padding: 8px;
  font-weight: bolder;
}
.n_clases {
  background: linear-gradient(-135deg, #629769, #5d9461);
  color: white;
}
.n_clases_no {
  width: 95px !important;
  background: linear-gradient(-135deg, #515579, #1f1a35);
  color: white;
}
.n_clases_sin_dictar {
  width: 95px !important;
  background: linear-gradient(-135deg, #f44336, #ab0600);
  color: white;
}

//

.bell {
  font-size: 24px;
  position: relative;
  display: inline-block;
  /* border:dashed 1px rgba(0,0,0,.25); */
  margin: 0;
  padding: 0;
}

.bell .anchor {
  transform-origin: center top;
  display: inline-block;
  margin: 0;
  padding: 0;
}

.bell .layer-1 {
  color: #1d1e22;
  z-index: 9;
  animation: animation-layer-1 5000ms infinite;
  opacity: 0;
}

.bell .layer-2 {
  color: #1d1e22;
  z-index: 8;
  position: absolute;
  top: 0;
  left: 0;
  animation: animation-layer-2 5000ms infinite;
}

.bell .layer-3 {
  color: #333642;
  z-index: 7;
  position: absolute;
  top: 0;
  left: 0;
  animation: animation-layer-3 5000ms infinite;
}

@keyframes animation-layer-1 {
  0% {
    transform: rotate(0deg);
    opacity: 0;
  }
  8.0% {
    transform: rotate(0deg);
    opacity: 0;
  }
  12.0% {
    transform: rotate(42deg);
    opacity: 0.5;
  }
  16.0% {
    transform: rotate(-35deg);
    opacity: 0.4;
  }
  20.0% {
    transform: rotate(0deg);
    opacity: 0.1;
  }
  23.0% {
    transform: rotate(28deg);
    opacity: 0.3;
  }
  26.0% {
    transform: rotate(-20deg);
    opacity: 0.2;
  }
  29.0% {
    transform: rotate(0deg);
    opacity: 0.1;
  }
  31.0% {
    transform: rotate(16deg);
    opacity: 0;
  }
  33.0% {
    transform: rotate(-12deg);
    opacity: 0;
  }
  35.0% {
    transform: rotate(0deg);
    opacity: 0;
  }
  37.0% {
    transform: rotate(-6deg);
    opacity: 0;
  }
  39.0% {
    transform: rotate(0deg);
    opacity: 0;
  }
}

@keyframes animation-layer-2 {
  0% {
    transform: rotate(0deg);
  }
  8.0% {
    transform: rotate(0deg);
  }
  12.0% {
    transform: rotate(42deg);
  }
  16.0% {
    transform: rotate(-35deg);
  }
  20.0% {
    transform: rotate(0deg);
  }
  23.0% {
    transform: rotate(28deg);
  }
  26.0% {
    transform: rotate(-20deg);
  }
  29.0% {
    transform: rotate(0deg);
  }
  31.0% {
    transform: rotate(16deg);
  }
  33.0% {
    transform: rotate(-12deg);
  }
  35.0% {
    transform: rotate(0deg);
  }
  37.0% {
    transform: rotate(-6deg);
  }
  39.0% {
    transform: rotate(0deg);
  }
  40.0% {
    transform: rotate(6deg);
  }
  44.0% {
    transform: rotate(-3deg);
  }
  49.0% {
    transform: rotate(2deg);
  }
  55.0% {
    transform: rotate(0deg);
  }
  62.0% {
    transform: rotate(1deg);
  }
  70.0% {
    transform: rotate(0deg);
  }
}

@keyframes animation-layer-3 {
  0% {
    transform: rotate(0deg);
    opacity: 1;
  }
  8.0% {
    transform: rotate(0deg);
    opacity: 1;
  }
  12.0% {
    transform: rotate(52deg);
    opacity: 0.5;
  }
  16.0% {
    transform: rotate(-48deg);
    opacity: 0.4;
  }
  20.0% {
    transform: rotate(0deg);
    opacity: 1;
  }
  23.0% {
    transform: rotate(42deg);
    opacity: 0.3;
  }
  26.0% {
    transform: rotate(-30deg);
    opacity: 0.2;
  }
  29.0% {
    transform: rotate(0deg);
    opacity: 1;
  }
  31.0% {
    transform: rotate(26deg);
    opacity: 0.15;
  }
  33.0% {
    transform: rotate(-18deg);
    opacity: 0.1;
  }
  35.0% {
    transform: rotate(0deg);
    opacity: 1;
  }
  37.0% {
    transform: rotate(-12deg);
    opacity: 0.8;
  }
  40.0% {
    transform: rotate(6deg);
    opacity: 1;
  }
  44.0% {
    transform: rotate(-3deg);
    opacity: 0.8;
  }
  49.0% {
    transform: rotate(2deg);
    opacity: 1;
  }
  55.0% {
    transform: rotate(0deg);
    opacity: 1;
  }
  62.0% {
    transform: rotate(1deg);
    opacity: 1;
  }
  70.0% {
    transform: rotate(0deg);
    opacity: 1;
  }
}
