.mt-100 {
  margin-top: 100px !important;
}

tr.hovered {
  background-color: #c8e0fe;
  color: white;
}
tr.selected {
  background-color: rgb(43, 137, 226);
}
.row_seleccionada {
  color: white;
}
.text-red {
  color: red;
}
// Expansible

table {
  width: 100%;
}

tr.fila_detalle {
  height: 0;
}

tr.fila_seleccionada:not(.example-expanded-row):hover {
  background: rgb(0, 132, 255);
  color: white;
  cursor: pointer;
}

tr.fila_seleccionada:not(.example-expanded-row):hover > .button_marker {
  color: white !important;
  cursor: pointer;
}

tr.fila_seleccionada:not(.example-expanded-row):active {
  background: #efefef;
  color: rgb(34, 33, 33);
}

.fila_seleccionada td {
  border-bottom-width: 0;
}

.detalle_expansible {
  overflow: hidden;
  display: flex;
}

.contenedor_imagen {
  // 264 × 254
  width: 100%;

  border: 4px solid;
  padding: 8px;
  font-weight: lighter;
  margin: 8px 0;
}

.example-element-symbol {
  font-weight: bold;
  font-size: 40px;
  line-height: normal;
}

.example-element-description {
  padding: 16px;
}

.example-element-description-attribution {
  opacity: 0.5;
}
.incompleto {
  background: white;
  padding: 8px;
  font-weight: bolder;
}
.n_clases {
  background: linear-gradient(-135deg, #629769, #5d9461);
  color: white;
}
.n_clases_no {
  width: 95px !important;
  background: linear-gradient(-135deg, #f44336, #ab0600);
  color: white;
}
