<div class="navbar-top" [ngClass]="designConfig.layout.navbar.secondaryBackground">
  <div class="logo">
    <!-- <img class="logo-icon" src="assets/logo/logo_fondo1.png" /> -->
    <span class="logo-text secondary-text">SEGA 30</span>
  </div>

  <div class="buttons">
    <button mat-icon-button class="toggle-sidebar-folded" (click)="toggleSidebarFolded()" fxHide.lt-lg>
      <mat-icon class="secondary-text">menu</mat-icon>
    </button>

    <button mat-icon-button class="toggle-sidebar-opened" (click)="toggleSidebarOpened()" fxHide.gt-md>
      <mat-icon class="secondary-text">arrow_back</mat-icon>
    </button>
  </div>
</div>
<div
  class="navbar-scroll-container"
  [ngClass]="designConfig.layout.navbar.primaryBackground"
  designPerfectScrollbar
  [designPerfectScrollbarOptions]="{ suppressScrollX: true }"
>
  <div
    *ngIf="authService.currentUser$ | async as usuario"
    class="user"
    fxLayout="column"
    [ngClass]="designConfig.layout.navbar.secondaryBackground"
  >
    <div class="h3 username">{{ usuario.nombre }}</div>
    <div class="h5 email hint-text mt-8">{{ usuario.rol }}</div>
    <div class="avatar-container" [ngClass]="designConfig.layout.navbar.primaryBackground">
      <img class="avatar" [src]="usuario.picture ? usuario.picture : '/assets/auth/avatar.svg'" [alt]="usuario.nombre" />
    </div>
  </div>

  <div class="navbar-content">
    <design-navigation class="material2" layout="vertical"></design-navigation>
  </div>
  <div class="version" fxLayout="row" fxLayoutAlign="center end">
    <small>v2.0.3</small>
  </div>
</div>
