.rol {
  background: linear-gradient(-135deg, #79a569, #2c8a31);
  color: white;
  min-width: 100px !important;
}
.profesor {
  background: linear-gradient(-135deg, #a58669, #8a472c);
  color: white;
  min-width: 100px !important;
}
.none {
  background: linear-gradient(-135deg, #475a7e, #2c528a);
  color: white;
  min-width: 100px !important;
}
