<div class="theme-options-panel" designPerfectScrollbar>

    <div class="header">

        <span class="title">Configuración de Pantalla</span>

        <button mat-icon-button class="close-button" (click)="toggleSidebarOpen('themeOptionsPanel')">
            <mat-icon>close</mat-icon>
        </button>

    </div>

    <form [formGroup]="form">

        <!-- COLOR THEME -->
        <div class="group">

            <h2>Temas</h2>

            <mat-radio-group fxLayout="column" fxLayoutAlign="start start" formControlName="colorTheme">
                <mat-radio-button   class="mb-12" value="theme-default">Light</mat-radio-button>
                <mat-radio-button   class="mb-12" value="theme-default">Dark</mat-radio-button>
            </mat-radio-group>

        </div>

       
       

    </form>

</div>
