<div class="mat-elevation-z4 mat-card p-24">
  <mat-progress-bar *ngIf="cargandoProfesores || cargandoAsignaturas" mode="indeterminate"></mat-progress-bar>
  <div *ngIf="deshabilitarEdicion" fxLayout="row" fxLayoutAlign="center center" class="text-center message-box warning mb-24">
    <mat-icon style="color: #f17a00">warning</mat-icon>
    <h3>Las planillas de taller que son menores al ciclo {{ anioActual }} no pueden ser editadas</h3>
  </div>
  <form [formGroup]="form" fxLayout="column" (ngSubmit)="guardar()">
    <div class="w-100-p" fxLayout="row wrap" fxLayoutAlign="space-between start">
      <div fxFlex.gt-xs="42" fxFlex.xs="100" fxLayout="column">
        <!-- cicloLectivo ============================= -->
        <!-- <mat-form-field appearance="outline" fxFlex.gt-xs="30" fxFlex.xs="100">
          <mat-label class="lbl">Ciclo Lectivo</mat-label>
          <mat-select formControlName="cicloLectivo">
            <mat-option *ngFor="let anio of anios" [value]="anio">{{ anio }}</mat-option>
          </mat-select>
          <mat-error *ngIf="form.controls.cicloLectivo.hasError('required')"> Este campo es requerido. </mat-error>
        </mat-form-field> -->
        <!-- FechaInicio ============================= -->
        <mat-form-field appearance="outline">
          <mat-label>Fecha de Inicio</mat-label>
          <input [max]="maximo" [min]="minimo" autocomplete="off" matInput [matDatepicker]="picker" formControlName="fechaInicio" />
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
          <mat-error *ngIf="form.controls.fechaInicio.hasError('required')"> Este campo es requerido. </mat-error>
        </mat-form-field>
        <!-- FechaFinal ============================= -->
        <mat-form-field appearance="outline">
          <mat-label>Fecha de Fin</mat-label>
          <input
            [max]="maximo"
            [min]="minimo"
            autocomplete="off"
            matInput
            [matDatepicker]="pickerFinal"
            formControlName="fechaFinalizacion"
          />
          <mat-datepicker-toggle matSuffix [for]="pickerFinal"></mat-datepicker-toggle>
          <mat-datepicker #pickerFinal></mat-datepicker>
          <mat-error *ngIf="form.controls.fechaFinalizacion.hasError('required')"> Este campo es requerido. </mat-error>
        </mat-form-field>

        <!-- Asignatura ============================= -->
        <div fxFlex="60">
          <input-autocomplete
            formControlName="asignatura"
            label="Asignatura"
            [campoNombre]="pairKeyAsignatura.campoNombre"
            [campoId]="pairKeyAsignatura.campoId"
            [options]="asignaturas$ | async"
            required="true"
            hint="Ej.: Dibujo Técnico"
            icon="assignment"
          >
          </input-autocomplete>
        </div>
        <!-- Profesor ============================= -->
        <div fxFlex="60">
          <input-autocomplete
            formControlName="profesor"
            label="Profesor"
            [campoNombre]="pairKeyProfesor.campoNombre"
            [campoId]="pairKeyProfesor.campoId"
            [options]="profesores$ | async"
            required="true"
            hint="Ej.: Jorge Benitez"
            icon="school"
          >
          </input-autocomplete>
        </div>
        <mat-form-field appearance="outline" fxFlex.gt-xs="45" fxFlex.xs="100">
          <mat-label class="lbl">Turno</mat-label>
          <mat-select formControlName="turno">
            <mat-option value="MAÑANA">MAÑANA</mat-option>
            <mat-option value="TARDE">TARDE</mat-option>
            <mat-option value="VESPERTINO">VESPERTINO</mat-option>
          </mat-select>
          <mat-error *ngIf="form.controls.turno.hasError('required')"> Este campo es requerido. </mat-error>
        </mat-form-field>
      </div>
      <div fxFlex.gt-xs="42" fxFlex.xs="100" fxLayout="column">
        <!-- curso ============================= -->
        <mat-form-field appearance="outline" fxFlex.gt-xs="45" fxFlex.xs="100">
          <mat-label class="lbl">Curso</mat-label>
          <mat-select formControlName="curso">
            <mat-option value="1">CURSO 1</mat-option>
            <mat-option value="2">CURSO 2</mat-option>
            <mat-option value="3">CURSO 3</mat-option>
            <mat-option value="4">CURSO 4</mat-option>
            <mat-option value="5">CURSO 5</mat-option>
            <mat-option value="6">CURSO 6</mat-option>
          </mat-select>
          <mat-error *ngIf="form.controls.curso.hasError('required')"> Este campo es requerido. </mat-error>
        </mat-form-field>
        <!-- tipoComision ============================= -->
        <mat-form-field appearance="outline" fxFlex.gt-xs="45" fxFlex.xs="100">
          <mat-label class="lbl">Comision</mat-label>
          <mat-select formControlName="comision">
            <mat-option *ngFor="let tipo of tiposComision" [value]="tipo">{{ tipo }}</mat-option>
          </mat-select>
        </mat-form-field>
        <!-- division ============================= -->
        <mat-form-field appearance="outline" fxFlex="100">
          <mat-label class="lbl">División</mat-label>
          <mat-select formControlName="division">
            <mat-option value="1">DIVISIÓN 1</mat-option>
            <mat-option value="2">DIVISIÓN 2</mat-option>
            <mat-option value="3">DIVISIÓN 3</mat-option>
            <mat-option value="4">DIVISIÓN 4</mat-option>
            <mat-option value="5">DIVISIÓN 5</mat-option>
            <mat-option value="6">DIVISIÓN 6</mat-option>
            <mat-option value="6">DIVISIÓN 7</mat-option>
            <mat-option value="6">DIVISIÓN 8</mat-option>
            <mat-option value="6">DIVISIÓN 9</mat-option>
          </mat-select>
          <mat-error *ngIf="form.controls.division.hasError('required')"> Este campo es requerido. </mat-error>
        </mat-form-field>
        <!-- cantidad de meses ============================= -->
        <mat-form-field appearance="outline" fxFlex.gt-xs="45" fxFlex.xs="100">
          <mat-label class="lbl">Bimestre</mat-label>
          <mat-select formControlName="bimestre">
            <mat-option value="1er Bimestre"><span class="bimestre_item">1er Bimestre</span></mat-option>
            <mat-option value="1er Trimestre"><span class="bimestre_item">1er Trimestre</span></mat-option>
            <mat-option value="1er Cuatrimestre"><span class="bimestre_item">1er Cuatrimestre</span></mat-option>
            <mat-option value="Anual"><span class="bimestre_item">Anual</span></mat-option>
            <mat-option value="2do Bimestre"><span class="bimestre_item">2do Bimestre</span></mat-option>
            <mat-option value="2do Trimestre"><span class="bimestre_item">2do Trimestre</span></mat-option>
            <mat-option value="2do Cuatrimestre"><span class="bimestre_item">2do Cuatrimestre</span></mat-option>
            <mat-option value="3er Bimestre"><span class="bimestre_item">3er Bimestre</span></mat-option>
            <mat-option value="3er Trimestre"><span class="bimestre_item">3er Trimestre</span></mat-option>
            <mat-option value="4to Bimestre"><span class="bimestre_item">4to Bimestre</span></mat-option>
          </mat-select>
          <mat-error *ngIf="form.controls.bimestre.hasError('required')"> Este campo es requerido. </mat-error>
        </mat-form-field>

        <!--  ============================= -->
        <div fxLayout="column">
          <strong fxLayout="row wrap" fxLayoutAlign="start center">
            <mat-icon
              matTooltipClass="tooltipL"
              matTooltip="Si ya se han cargado TEMAS a la planilla, al cambiar el tipo de calendario se adicionarán las fechas del nuevo calendario a las existentes. (No se sobreescribirán datos)"
              style="color: rgb(0, 153, 255); cursor: pointer"
              >info</mat-icon
            >
            <span> Tipo de Calendario</span></strong
          >
          <mat-radio-group
            formControlName="tipoCalendario"
            fxLayout="row wrap"
            fxLayoutAlign="space-between start"
            fxFlex.xs="100"
            fxFlex.gt-xs="45"
            fxLayoutGap="10px"
            class="border p-12"
          >
            <mat-radio-button value="POR COMISION" class="mb-12" (click)="habilitarCalendarioPorComision()">
              Calendario por comision</mat-radio-button
            >
            <mat-radio-button value="PERSONALIZADO" class="mb-12" (click)="habilitarCalendarioPersonalizado()"
              >Calendario Personalizado</mat-radio-button
            >
          </mat-radio-group>
          <mat-form-field [fxHide]="!personalizarDias" appearance="outline" class="w-100-p">
            <mat-label class="lbl">Días</mat-label>
            <mat-select formControlName="diasHabilitados" multiple>
              <mat-option value="Monday">Lunes</mat-option>
              <mat-option value="Tuesday">Martes</mat-option>
              <mat-option value="Wednesday">Miércoles</mat-option>
              <mat-option value="Thursday">Jueves</mat-option>
              <mat-option value="Friday">Viernes</mat-option>
              <mat-option value="Saturday">Sábado</mat-option>
              <mat-option value="Sunday">Domingo</mat-option>
            </mat-select>
            <mat-error *ngIf="form.controls.diasHabilitados.hasError('required')"> Este campo es requerido. </mat-error>
          </mat-form-field>
        </div>
      </div>
    </div>

    <!-- BTN =========================== -->
    <div fxLayout="column">
      <div *ngIf="!deshabilitarEdicion" fxLayout="row" fxLayoutAlign="center start">
        <button
          [disabled]="
            cargando ||
            form.invalid ||
            (personalizarDias && this.form.controls.diasHabilitados.value && this.form.controls.diasHabilitados.value.length < 1)
          "
          mat-raised-button
          color="accent"
          type="submit"
        >
          {{ actualizar ? 'ACTUALIZAR' : 'GUARDAR' }}
        </button>
      </div>
      <div fxLayout="row" fxLayoutAlign="center start">
        <mat-error *ngIf="form.errors?.desdeMenorEstrictoHasta" style="font-size: smaller">
          * La fecha inicial no puede ser mayor a la final
        </mat-error>
      </div>
    </div>
  </form>
</div>
