<div class="mat-elevation-z4 mat-card p-24">
  <mat-progress-bar *ngIf="cargandoProfesores || cargandoAsignaturas" mode="indeterminate"></mat-progress-bar>

  <form [formGroup]="form" fxLayout="column" (ngSubmit)="guardar()">
    <div class="w-100-p" fxLayout="row wrap" fxLayoutAlign="space-between start">
      <div fxFlex.gt-xs="42" fxFlex.xs="100" fxLayout="column">
        <!-- cicloLectivo ============================= -->
        <mat-form-field appearance="outline" fxFlex.gt-xs="30" fxFlex.xs="100">
          <mat-label class="lbl">Ciclo Lectivo</mat-label>
          <mat-select formControlName="cicloLectivo">
            <mat-option *ngFor="let anio of anios" [value]="anio">{{ anio }}</mat-option>
          </mat-select>
          <mat-error *ngIf="form.controls.cicloLectivo.hasError('required')"> Este campo es requerido. </mat-error>
        </mat-form-field>
        <!-- FechaInicio ============================= -->
        <mat-form-field appearance="outline">
          <mat-label>Fecha de Inicio</mat-label>
          <input autocomplete="off" matInput [matDatepicker]="picker" formControlName="fechaInicio" />
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
          <mat-error *ngIf="form.controls.fechaInicio.hasError('required')"> Este campo es requerido. </mat-error>
        </mat-form-field>
        <!-- FechaFinal ============================= -->
        <mat-form-field appearance="outline">
          <mat-label>Fecha de Fin</mat-label>
          <input autocomplete="off" matInput [matDatepicker]="pickerFinal" formControlName="fechaFinalizacion" />
          <mat-datepicker-toggle matSuffix [for]="pickerFinal"></mat-datepicker-toggle>
          <mat-datepicker #pickerFinal></mat-datepicker>
          <mat-error *ngIf="form.controls.fechaFinalizacion.hasError('required')"> Este campo es requerido. </mat-error>
        </mat-form-field>

        <!-- Asignatura ============================= -->
        <div fxFlex="60">
          <input-autocomplete
            formControlName="asignatura"
            label="Asignatura"
            [campoNombre]="pairKeyAsignatura.campoNombre"
            [campoId]="pairKeyAsignatura.campoId"
            [options]="asignaturas$ | async"
            required="true"
            hint="Ej.: Dibujo Técnico"
            icon="assignment"
          >
          </input-autocomplete>
        </div>
        <!-- Profesor ============================= -->
        <div fxFlex="60">
          <input-autocomplete
            formControlName="profesor"
            label="Profesor"
            [campoNombre]="pairKeyProfesor.campoNombre"
            [campoId]="pairKeyProfesor.campoId"
            [options]="profesores$ | async"
            required="true"
            hint="Ej.: Jorge Benitez"
            icon="school"
          >
          </input-autocomplete>
        </div>
      </div>
      <div fxFlex.gt-xs="42" fxFlex.xs="100" fxLayout="column">
        <!-- curso ============================= -->
        <mat-form-field appearance="outline" fxFlex.gt-xs="45" fxFlex.xs="100">
          <mat-label class="lbl">Curso</mat-label>
          <mat-select formControlName="curso">
            <mat-option value="1">CURSO 1</mat-option>
            <mat-option value="2">CURSO 2</mat-option>
            <mat-option value="3">CURSO 3</mat-option>
            <mat-option value="4">CURSO 4</mat-option>
            <mat-option value="5">CURSO 5</mat-option>
            <mat-option value="6">CURSO 6</mat-option>
          </mat-select>
          <mat-error *ngIf="form.controls.curso.hasError('required')"> Este campo es requerido. </mat-error>
        </mat-form-field>
        <!-- tipoComision ============================= -->
        <mat-form-field appearance="outline" fxFlex.gt-xs="45" fxFlex.xs="100">
          <mat-label class="lbl">Comision</mat-label>
          <mat-select formControlName="comision">
            <mat-option *ngFor="let tipo of tiposComision" [value]="tipo">{{ tipo }}</mat-option>
          </mat-select>
          <mat-error *ngIf="form.controls.comision.hasError('required')"> Este campo es requerido. </mat-error>
        </mat-form-field>
        <!-- division ============================= -->
        <mat-form-field appearance="outline">
          <mat-label class="lbl">División</mat-label>
          <input matInput type="number" min="0" formControlName="division" autocomplete="off" />
          <mat-error *ngIf="form.controls.division.hasError('required')"> Este campo es requerido. </mat-error>
          <mat-error
            *ngIf="
              !form.controls.division.hasError('required') &&
              (form.controls.division.hasError('min') || form.controls.division.hasError('max'))
            "
            >Ingrese un valor entre 0 y 6</mat-error
          >
        </mat-form-field>
        <!-- cantidad de meses ============================= -->
        <mat-form-field appearance="outline" fxFlex.gt-xs="45" fxFlex.xs="100">
          <mat-label class="lbl">Bimestre</mat-label>
          <mat-select formControlName="bimestre">
            <mat-option value="1er Bimestre"><span class="bimestre_item">1er Bimestre</span></mat-option>
            <mat-option value="1er Trimestre"><span class="bimestre_item">1er Trimestre</span></mat-option>
            <mat-option value="1er Cuatrimestre"><span class="bimestre_item">1er Cuatrimestre</span></mat-option>
            <mat-option value="Anual"><span class="bimestre_item">Anual</span></mat-option>
            <mat-option value="2do Bimestre"><span class="bimestre_item">2do Bimestre</span></mat-option>
            <mat-option value="2do Trimestre"><span class="bimestre_item">2do Trimestre</span></mat-option>
            <mat-option value="2do Cuatrimestre"><span class="bimestre_item">2do Cuatrimestre</span></mat-option>
            <mat-option value="3er Bimestre"><span class="bimestre_item">3er Bimestre</span></mat-option>
            <mat-option value="3er Trimestre"><span class="bimestre_item">3er Trimestre</span></mat-option>
            <mat-option value="4to Bimestre"><span class="bimestre_item">4to Bimestre</span></mat-option>
          </mat-select>
          <mat-error *ngIf="form.controls.bimestre.hasError('required')"> Este campo es requerido. </mat-error>
        </mat-form-field>
        <!-- Observacion ============================= -->
        <mat-form-field appearance="outline" fxFlex.gt-xs="45" fxFlex.xs="100">
          <mat-label class="lbl">Observación</mat-label>
          <input matInput type="text" formControlName="observacion" autocomplete="off" minlength="5" maxlength="150" />
          <mat-error *ngIf="form.controls.observacion.hasError('required')"> Este campo es requerido. </mat-error>
          <mat-error
            *ngIf="
              !form.controls.observacion.hasError('required') &&
              (form.controls.observacion.hasError('minlength') || form.controls.observacion.hasError('maxlength'))
            "
          >
            Ingrese entre 5 y 150 caracteres
          </mat-error>
        </mat-form-field>
      </div>
    </div>
    <div fxLayout="column">
      <div fxLayout="row" fxLayoutAlign="center start">
        <button [disabled]="cargando || form.invalid" mat-raised-button color="accent" type="submit">
          {{ actualizar ? 'ACTUALIZAR' : 'GUARDAR' }}
        </button>
      </div>
      <div fxLayout="row" fxLayoutAlign="center start">
        <mat-error *ngIf="form.errors?.desdeMenorHasta" style="font-size: smaller">
          * La fecha inicial no puede ser mayor a la final
        </mat-error>
      </div>
    </div>
  </form>
</div>
