<mat-toolbar class="p-0 mat-elevation-z1">
  <div fxFlex fxFill fxLayout="row" fxLayoutAlign="start center">
    <div fxFlex="1 0 auto" fxLayout="row" fxLayoutAlign="start center">
      <button
        mat-icon-button
        class="navbar-toggle-button"
        *ngIf="!hiddenNavbar && !rightNavbar"
        (click)="toggleSidebarOpen('navbar')"
        fxHide.gt-md
      >
        <mat-icon class="secondary-text">menu</mat-icon>
      </button>

      <div class="toolbar-separator" *ngIf="!hiddenNavbar && !rightNavbar" fxHide.gt-md></div>

      <div fxLayout="row" fxLayoutAlign="start center" *ngIf="horizontalNavbar">
        <div class="logo ml-16">
          <img class="logo-icon" src="assets/images/logos/design.svg" />
        </div>
      </div>
    </div>
    <ng-template #sinUsuario>
      <button mat-button [matMenuTriggerFor]="userMenu" class="user-button">
        <div fxLayout="row" fxLayoutAlign="center center">
          <img class="avatar mr-0 mr-sm-16" [src]="'/assets/auth/avatar.svg'" [alt]="'Sin Login'" />

          <span class="username mr-12" fxHide fxShow.gt-sm>
            <!-- {{ auth.userProfile?.name }} -->
            Anonimo
          </span>
          <mat-icon class="s-16" fxHide.xs>keyboard_arrow_down</mat-icon>
        </div>
      </button>
      <mat-menu #userMenu="matMenu">
        <button mat-menu-item>
          <mat-icon>vpn_key</mat-icon>
          <span>Login</span>
        </button>
      </mat-menu>
    </ng-template>
    <div
      *ngIf="authService.currentUser$ | async as usuario; else sinUsuario"
      class=""
      fxFlex="0 1 auto"
      fxLayout="row"
      fxLayoutAlign="start center"
    >
      <button mat-button [matMenuTriggerFor]="userMenu" class="user-button">
        <div fxLayout="row" fxLayoutAlign="center center">
          <img class="avatar mr-0 mr-sm-16" [src]="usuario.picture ? usuario.picture : '/assets/auth/avatar.svg'" [alt]="usuario.nombre" />

          <span class="username mr-12" fxHide fxShow.gt-sm>
            <!-- {{ auth.userProfile?.name }} -->
            {{ usuario.nombre }}
          </span>
          <mat-icon class="s-16" fxHide.xs>keyboard_arrow_down</mat-icon>
        </div>
      </button>
      <!-- [overlapTrigger]="false" -->
      <mat-menu #userMenu="matMenu">
        <button *ngIf="!usuario" mat-menu-item>
          <mat-icon>vpn_key</mat-icon>
          <span>Login</span>
        </button>

        <!-- <button mat-menu-item>
          <mat-icon>account_circle</mat-icon>
          <span>My Profile</span>
        </button>

        <button mat-menu-item class="">
          <mat-icon>mail</mat-icon>
          <span>Inbox</span>
        </button> -->

        <button *ngIf="usuario" mat-menu-item class="" (click)="authService.logout({ returnTo: document.location.origin })">
          <mat-icon>exit_to_app</mat-icon>
          <span>Logout</span>
        </button>
      </mat-menu>
    </div>
  </div>
</mat-toolbar>
