<!-- PROGRESS BAR -->
<design-progress-bar></design-progress-bar>
<!-- / PROGRESS BAR -->

<!-- VERTICAL LAYOUT 1 -->
<ng-container>
  <vertical-layout-1></vertical-layout-1>
</ng-container>

<!-- <design-sidebar name="themeOptionsPanel" class="theme-options-sidebar" position="right" [invisibleOverlay]="true">
  <design-theme-options></design-theme-options>
</design-sidebar> -->
<!-- / THEME OPTIONS PANEL -->
<design-sidebar
  name="notificaciones"
  class="theme-options-sidebar"
  position="right"
  [invisibleOverlay]="true"
  style="background: #282936; color: white"
>
  <app-sidebar-notificaciones> </app-sidebar-notificaciones>
</design-sidebar>
