<h1 mat-dialog-title>Examen</h1>
<div mat-dialog-content>
  <form [formGroup]="form" fxLayout="column">
    <mat-form-field appearance="outline" class="w-100-p">
      <mat-label class="lbl">Curso</mat-label>
      <mat-select formControlName="mes">
        <mat-option value="DICIEMBRE">DICIEMBRE</mat-option>
        <mat-option value="ENERO">ENERO </mat-option>
        <mat-option value="FEBRERO">FEBRERO </mat-option>
        <mat-option value="MARZO">MARZO </mat-option>
        <mat-option value="JUNIO">JUNIO </mat-option>
        <mat-option value="JULIO">JULIO </mat-option>
        <mat-option value="AGOSTO">AGOSTO</mat-option>
        <mat-option value="SEPTIEMBRE">SEPTIEMBRE </mat-option>
        <mat-option value="OCTUBRE">OCTUBRE </mat-option>
        <mat-option value="NOVIEMBRE">NOVIEMBRE </mat-option>
      </mat-select>
      <mat-error *ngIf="form.controls.mes.hasError('required')"> Este campo es requerido. </mat-error>
    </mat-form-field>
    <mat-form-field appearance="outline" class="w-100-p">
      <mat-label class="lbl">Nota</mat-label>
      <input matInput type="number" class="actual" formControlName="nota" />
      <mat-error *ngIf="form.controls.nota.hasError('required')"> Este campo es requerido. </mat-error>
    </mat-form-field>
    <!-- Fecha -->
    <mat-form-field appearance="outline" fxFlex.xs="100" fxFlex.gt-xs="45">
      <mat-label>Fecha</mat-label>
      <input autocomplete="off" matInput [matDatepicker]="picker" formControlName="fecha" />
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
      <mat-error *ngIf="form?.controls.fecha.hasError('required')"> Este campo es requerido. </mat-error>
    </mat-form-field>
    <div fxFlex.xs="100" fxFlex.gt-xs="45" fxLayout="row wrap" fxLayoutAlign="space-between start" class="border p-12">
      <mat-slide-toggle formControlName="ausente" (click)="ausentar($event)">AUSENTE</mat-slide-toggle>
    </div>
  </form>
</div>
<div mat-dialog-actions fxLayout="row" fxLayoutAlign="space-between start">
  <button mat-button color="warn" (click)="cerrar()">Cerrar</button>
  <button mat-raised-button color="accent" (click)="guardarNota()">Guardar</button>
</div>
