<div id="forgot-password" fxLayout="column"  >
  <img src="assets/imagenes/logo.png" style="position: relative; top:10px; left:10px; z-index: 2; width: 200px;"/>
  <div id="forgot-password-form-wrapper" fxLayout="column" fxLayoutAlign="center center">
    <div id="forgot-password-form" [@animate]="{ value: '*', params: { duration: '300ms', y: '100px' } }">
      <div class="title">RECUPERAR CUENTA</div>

      <form name="forgotPasswordForm" [formGroup]="forgotPasswordForm" novalidate>
        <mat-form-field appearance="outline">
          <mat-label>Email</mat-label>
          <input matInput formControlName="email" />
          <mat-icon matSuffix class="secondary-text">mail</mat-icon>
          <mat-error *ngIf="forgotPasswordForm.get('email').hasError('required')">
            El email es requerido
          </mat-error>
          <mat-error *ngIf="forgotPasswordForm.get('email').hasError('email')">
            Ingrese un email válido
          </mat-error>
        </mat-form-field>

        <button mat-raised-button class="submit-button" color="accent" aria-label="resetear contraseña" [disabled]="forgotPasswordForm.invalid">
          RECUPERAR
        </button>
      </form>

      <div class="login" fxLayout="row" fxLayoutAlign="center center">
        <a class="link" [routerLink]="'/autenticacion/iniciar-sesion'">Volver al Login</a>
      </div>
    </div>
  </div>
</div>
