<div fxLayout="column" class="w-100-p">
  <div
    *ngIf="planillas && planillas.length > 0"
    [@animate]="{ value: '*', params: { delay: '50ms', scale: '0.2' } }"
    class="mt-20 p-0"
    fxLayoutAlign="space-between center"
    fxLayout="row"
  >
    <mat-form-field appearance="outline" fxFlex.gt-xs="30" fxFlex.xs="100">
      <mat-label class="lbl">Turno</mat-label>
      <mat-select [formControl]="turnoFilter">
        <mat-option value="">SIN FILTRO</mat-option>
        <mat-option value="MAÑANA">MAÑANA</mat-option>
        <mat-option value="TARDE">TARDE</mat-option>
        <mat-option value="VESPERTINO">VESPERTINO</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field appearance="outline" fxFlex.gt-xs="30" fxFlex.xs="100">
      <mat-label class="lbl">Bimestre</mat-label>
      <mat-select [formControl]="bimestreFilter">
        <mat-option value=""><span class="bimestre_item">SIN FILTRO</span></mat-option>
        <mat-option value="1er Bimestre"><span class="bimestre_item">1ER BIMESTRE</span></mat-option>
        <mat-option value="1er Trimestre"><span class="bimestre_item">1ER TRIMESTRE</span></mat-option>
        <mat-option value="1er Cuatrimestre"><span class="bimestre_item">1ER CUATRIMESTRE</span></mat-option>
        <mat-option value="Anual"><span class="bimestre_item">ANUAL</span></mat-option>
        <mat-option value="2do Bimestre"><span class="bimestre_item">2DO BIMESTRE</span></mat-option>
        <mat-option value="2do Trimestre"><span class="bimestre_item">2DO TRIMESTRE</span></mat-option>
        <mat-option value="2do Cuatrimestre"><span class="bimestre_item">2DO CUATRIMESRTE</span></mat-option>
        <mat-option value="3er Bimestre"><span class="bimestre_item">3ER BIMESTRE</span></mat-option>
        <mat-option value="3er Trimestre"><span class="bimestre_item">3ER TRIMESTRE</span></mat-option>
        <mat-option value="4to Bimestre"><span class="bimestre_item">4TO BIMESTRE</span></mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field fxFlex.gt-xs="30" fxFlex.xs="100" appearance="outline" color="accent" class="w-40-p">
      <mat-label>Búsqueda General</mat-label>
      <!-- (keyup)="filtroRapido($event.target.value)" -->
      <input matInput [(ngModel)]="globalFilter" (keyup)="filtroRapido($event.target.value)" [disabled]="dataSource.data.length == 0" />
      <mat-icon matSuffix>search</mat-icon>
    </mat-form-field>
  </div>
  <!-- 
        activo: true
  asignatura: "603fd97d15c3254a3863555c"
  bimestre: "4to Bimestre"
  curso: {cicloLectivo: {…}}
  fechaCreacion: "2021-03-03T21:32:04.469Z"
  fechaFinalizacion: "2020-12-11T03:00:00.000Z"
  fechaInicio: "2020-10-19T03:00:00.000Z"
  observacion: ""
  planillaTallerId: 370
  planillaTallerNro: 455
  profesor: "6021bb72c18fc750b87b0a12"
     -->
  <mat-progress-bar *ngIf="cargando" mode="indeterminate" class="w-100-p"></mat-progress-bar>
  <table #sort="matSort" mat-table matSort [dataSource]="dataSource" class="mat-elevation-z4">
    <!-- -->

     

    <ng-container matColumnDef="asignatura">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Asig /Prof</th>
      <td mat-cell *matCellDef="let row" class="fila_hover" [class.selected]="row.selected">
        <div fxLayout="column" [class.text-center]="isMobile">
          <span class="text_blue">
            {{ row.asignatura.detalle }}
          </span>
          <span>
            {{ row.profesor.nombreCompleto }}
          </span>
        </div>
      </td>
    </ng-container>

    <!-- -->

    <ng-container matColumnDef="comisioncompleta">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>
        <span class="text-center">Curso/Div./Com.</span>
      </th>
      <td mat-cell *matCellDef="let row" class="fila_hover" [class.selected]="row.selected">
        <div class="comision" fxLayout="row" fxLayoutAlign="center start">
          <span matTooltip="CURSO">{{ row.curso?.curso }}° AÑO</span>
          <strong> </strong>
          <span matTooltip="DIVISION">{{ row.curso?.division }}° DIV</span>
          <strong *ngIf="row.curso?.comision"> </strong>
          <span *ngIf="row.curso?.comision" matTooltip="COMISION">COM. {{ row.curso?.comision }}</span>
        </div>
      </td>
    </ng-container>
   
    <ng-container matColumnDef="opciones">
      <th mat-header-cell *matHeaderCellDef><mat-icon>settings</mat-icon></th>
      <td mat-cell *matCellDef="let row" (click)="$event.stopPropagation()"  [class.selected]="row.selected">
        <button mat-icon-button (click)="seleccionarPlanilla(row)"><mat-icon>add_circle</mat-icon></button>
      </td>
    </ng-container>

    <!-- -->
    <tr mat-header-row *matHeaderRowDef="columnas"></tr>
    <!-- -->
    <tr mat-row [class.selected]="row.selected" *matRowDef="let row; columns: columnas"></tr>
    <!-- -->
    <!-- <tr mat-row *matRowDef="let row; columns: columnas" [ngClass]="{ row_deshabilitado: !row.activo }"></tr> -->
    <!-- <tr mat-row *matRowDef="let row; columns: isMobile ? ['expandedDetail'] : []" class="fila_detalle"></tr> -->
  </table>
  <app-empty-data *ngIf="!planillas || planillas.length < 1"></app-empty-data>

  <!-- Paginado -------------------------------------------------- -->
  <mat-paginator class="border-paginador paginator mat-elevation-z2" #paginator [pageSize]="20" [pageSizeOptions]="[5, 10, 20, 50, 100]">
  </mat-paginator>
</div>
