<div fxLayout="column" class="mat-elevation-z4 mat-card p-24">
  <!-- CALENDARIO =========================== -->
  <div fxLayout="column" fxFlex.xs="100" fxFlex.gt-xs="45">
    <div class="" fxLayout="row wrap" fxLayoutAlign="center start" fxLayoutGap="20px">
      <span><strong>Fecha de Inicio: </strong>{{ planillaTaller?.fechaInicio | date: 'dd/MM/yyyy':'GMT' }} </span>
      <span><strong>Fecha de Finalización: </strong>{{ planillaTaller?.fechaFinalizacion | date: 'dd/MM/yyyy':'GMT' }} </span>
    </div>
    <div class="message-box warning text-center">
      <span> Para modificar el calendario debe seleccionar el tipo de calendario en la pestaña General</span>
    </div>

    <!-- Calendario -->

    <app-calendar-header [(view)]="view" [(viewDate)]="viewDate"> </app-calendar-header>
    <div [class.mat-card]="!isMobile" [class.mat-elevation-z4]="!isMobile" [class.p-24]="!isMobile" class="">
      <mwl-calendar-month-view
        [refresh]="refresh"
        [activeDayIsOpen]="activeDayIsOpen"
        (dayClicked)="dayClicked($event.day)"
        [viewDate]="viewDate"
        [events]="events"
      >
      </mwl-calendar-month-view>
    </div>
  </div>
</div>
