<div class="w-100-p p-24">
  <div fxLayout.xs="column" fxLayout.gt-xs="row wrap" fxLayoutAlign.gt-xs="space-between start" fxLayoutGap.xs="20px">
    <mat-list fxFlex.xs="100" fxFlex.gt-xs="45" class="mb-24">
      <mat-list-item
        matRipple
        [matRippleCentered]="true"
        [matRippleColor]="'#46aef163'"
        *ngFor="let lista of listaA"
        (click)="verInforme(lista.id)"
        fxLayout="column"
        class="item"
      >
        <div fxLayout="column" class="w-100-p cursor pointer">
          <strong>{{ lista.titulo }}</strong>
          <small>{{ lista.subtitulo }}</small>
        </div>
      </mat-list-item>
    </mat-list>
    <mat-list fxFlex.xs="100" fxFlex.gt-xs="45" class="mb-24">
      <mat-list-item
        matRipple
        [matRippleCentered]="true"
        [matRippleColor]="'#46aef163'"
        *ngFor="let lista of listaB"
        (click)="verInforme(lista.id)"
        class="item"
      >
        <div fxLayout="column" class="w-100-p cursor pointer">
          <strong>{{ lista.titulo }}</strong>
          <small>{{ lista.subtitulo }}</small>
        </div>
      </mat-list-item>
    </mat-list>
  </div>
</div>
