<h1 mat-dialog-title>Seguimiento del Alumno</h1>
<div mat-dialog-content class="px-24">
  <div *ngIf="seguimiento" fxLayout.xs="column" fxLayout.gt-xs="row wrap" fxLayoutAlign.gt-xs="space-between start" fxLayoutGap.xs="20px">
    <div fxFlex.xs="100" fxFlex.gt-xs="45">
      <p fxLayout="row wrap" fxLayoutAlign.gt-xs="start center" fxLayoutGap="10px">
        <strong>Ciclo:</strong>
        <span>{{ seguimiento.cicloLectivo.anio }}</span>
      </p>
      <p fxLayout="row wrap" fxLayoutAlign.gt-xs="start center" fxLayoutGap="10px">
        <strong>Alumno/a:</strong>
        <span>{{ seguimiento.alumno.nombreCompleto }}</span>
      </p>
      <p fxLayout="row wrap" fxLayoutAlign.gt-xs="start center" fxLayoutGap="10px">
        <strong>Email:</strong>
        <span>{{ seguimiento.alumno.email }}</span>
      </p>
      <p fxLayout="row wrap" fxLayoutAlign.gt-xs="start center" fxLayoutGap="10px">
        <strong>Telefono:</strong>
        <span>{{ seguimiento.alumno.telefono ? seguimiento.alumno.telefono : 'SIN REGISTRAR' }}</span>
      </p>
      <p fxLayout="row wrap" fxLayoutAlign.gt-xs="start center" fxLayoutGap="10px">
        <strong>Celular:</strong>
        <span>{{ seguimiento.alumno.celular ? seguimiento.alumno.celular : 'SIN REGISTRAR' }}</span>
      </p>
    </div>

    <div fxLayout="column" fxFlex.xs="100" fxFlex.gt-xs="45">
      <div *ngIf="seguimiento.alumno.seguimientoEtap" fxLayout="row wrap" fxLayoutAlign.gt-xs="start center" fxLayoutGap="10px">
        <strong>Nombre Completo TAE:</strong>
        <span>{{ seguimiento.alumno.nombreCompletoTae }}</span>
      </div>
      <div *ngIf="seguimiento.alumno.seguimientoEtap" fxLayout="row wrap" fxLayoutAlign.gt-xs="start center" fxLayoutGap="10px">
        <strong>Email TAE:</strong>
        <span>{{ seguimiento.alumno.emailTae }}</span>
      </div>
      <div *ngIf="seguimiento.alumno.seguimientoEtap" fxLayout="row wrap" fxLayoutAlign.gt-xs="start center" fxLayoutGap="10px">
        <strong>Diagnostico:</strong>
        <span>{{ seguimiento.alumno.archivoDiagnostico }}</span>
      </div>
      <br /><br />
      <div *ngIf="seguimiento?.creadoPor" fxFlex.xs="100" fxFlex.gt-xs="45" fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="10px">
        <strong>Creado Por:</strong>
        <span>{{ seguimiento.creadoPor?.apellido + ' ' + seguimiento.creadoPor?.nombre }}</span>
      </div>
      <div
        *ngIf="seguimiento?.modificadoPor"
        fxFlex.xs="100"
        fxFlex.gt-xs="45"
        fxLayout="row"
        fxLayoutAlign="start center"
        fxLayoutGap="10px"
      >
        <strong>Modificado Por:</strong>
        <span>{{ seguimiento.modificadoPor?.apellido + ' ' + seguimiento.modificadoPor?.nombre }}</span>
      </div>
      <div
        *ngIf="seguimiento?.planillaTaller"
        fxFlex.xs="100"
        fxFlex.gt-xs="45"
        fxLayout="row"
        fxLayoutAlign="start center"
        fxLayoutGap="10px"
      >
        <strong>Curso:</strong>
        <span>{{ seguimiento.planillaTaller?.curso.curso + '° AÑO ' + seguimiento.planillaTaller?.curso.division + '° DIV ' }}</span>
        <span *ngIf="seguimiento.planillaTaller?.curso.comision">{{ 'COM. ' + seguimiento.planillaTaller?.curso.comision }}</span>
      </div>
    </div>
    <div fxFlex.xs="100" fxFlex.gt-xs="45">
      <p fxLayout="row wrap" fxLayoutAlign.gt-xs="start center" fxLayoutGap="10px">
        <strong>Tipo de Seguimiento:</strong>
        <span>{{ seguimiento.tipoSeguimiento }}</span>
      </p>
      <p fxLayout="row wrap" fxLayoutAlign.gt-xs="start center" fxLayoutGap="10px">
        <strong>Estado:</strong>
        <span>{{ seguimiento.resuelto ? 'RESUELTO' : 'NO RESUELTO' }}</span>
      </p>
      <p fxLayout="row wrap" fxLayoutAlign.gt-xs="start center" fxLayoutGap="10px">
        <strong>Observación:</strong>
        <span>{{ seguimiento.observacion }}</span>
      </p>
      <p fxLayout="row wrap" fxLayoutAlign.gt-xs="start center" fxLayoutGap="10px">
        <strong>Observación 2:</strong>
        <span>{{ seguimiento.observacion2 }}</span>
      </p>
      <p fxLayout="row wrap" fxLayoutAlign.gt-xs="start center" fxLayoutGap="10px">
        <strong>Observación del Jefe de Taller:</strong>
        <span>{{ seguimiento.observacionJefe }}</span>
      </p>
    </div>
  </div>
</div>
<div mat-dialog-actions fxLayout="row" fxLayoutAlign="center center">
  <button mat-button (click)="cerrar()">Cerrar</button>
</div>
