<form
  [formGroup]="form"
  (ngSubmit)="enviarParametros()"
  class="mat-card mat-elevation-z4 p-24"
  fxLayout="column"
  fxLayoutAlign="start start"
>
  <div class="w-100-p" fxLayout="row wrap" fxLayoutAlign="start baseline" fxLayoutGap="20px">
    <!-- cicloLectivo ============================= -->
    <mat-form-field appearance="outline" fxFlex.gt-xs="30" fxFlex.xs="100">
      <mat-label class="lbl">Ciclo Lectivo</mat-label>
      <mat-select formControlName="cicloLectivo">
        <mat-option *ngFor="let anio of anios" [value]="anio">{{ anio }}</mat-option>
      </mat-select>
      <mat-error *ngIf="form.controls.cicloLectivo.hasError('required')"> Este campo es requerido. </mat-error>
    </mat-form-field>
        <button mat-raised-button color="primary" type="submit" [disabled]="form.invalid">
          <mat-icon class="mr-8">search</mat-icon>Buscar
        </button>
  </div>
  
</form>
