.actual > .mat-form-field-appearance-outline .mat-form-field-outline {
  color: green !important;
}
/* Font color */
.actual > input.mat-input-element {
  color: green !important;
}
.anterior > .mat-form-field-appearance-outline .mat-form-field-outline {
  color: red !important;
}
/* Font color */
.anterior > input.mat-input-element {
  color: red !important;
}
