<div fxLayout="column" class="mat-card mat-elevation-z4 p-24">
  <h2>Actualizar los alumnos al nuevo ciclo escolar</h2>
  <div fxLayout.xs="column" fxLayout.gt-xs="row" fxLayoutAlign.gt-xs="space-between start">
    <!-- ================================================== -->
    <form
      [@animate]="{ value: '*', params: { delay: '50ms', scale: '0.2' } }"
      [formGroup]="form"
      fxLayout="column"
      fxFlex.gt-xs="50"
      fxFlex.xs="100"
    >
      <mat-form-field appearance="outline">
        <mat-label class="lbl">Ciclo Lectivo Actual</mat-label>
        <input matInput class="actual" readonly formControlName="cicloLectivo" />
        <mat-error *ngIf="form.controls.cicloLectivo.hasError('required')"> Este campo es requerido. </mat-error>
      </mat-form-field>
      <mat-form-field *ngIf="form.controls.cicloLectivo.value" appearance="outline" color="accent" class="anterior">
        <mat-label class="lbl">Ciclo Anterior</mat-label>
        <input class="anterior" matInput #ca readonly [value]="form.controls.cicloLectivo.value - 1" />
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label class="lbl">Curso</mat-label>
        <mat-select formControlName="curso">
          <mat-option value="1">CURSO 1</mat-option>
          <mat-option value="2">CURSO 2</mat-option>
          <mat-option value="3">CURSO 3</mat-option>
          <mat-option value="4">CURSO 4</mat-option>
          <mat-option value="5">CURSO 5</mat-option>
          <mat-option value="6">CURSO 6</mat-option>
        </mat-select>
        <mat-error *ngIf="form.controls.curso.hasError('required')"> Este campo es requerido. </mat-error>
      </mat-form-field>
      <!-- [compareWith]="comparar" -->
      <mat-error *ngIf="form.controls.divisiones.value.length < 1">Seleccione al menos una división</mat-error>
      <mat-selection-list
        formControlName="divisiones"
        fxFlex="50"
        class="mat-card mat-elevation-z2 border-card"
        fxLayout.xs="column"
        fxLayout.gt-xs="row wrap"
        fxLayoutAlign.gt-xs="space-between center"
      >
        <mat-list-option *ngFor="let division of divisiones" [value]="division" fxFlex.xs="100" fxFlex.gt-xs="45">
          <span> DIVISIÓN {{ division }} </span>
        </mat-list-option>
      </mat-selection-list>
      <!-- <div *ngFor="let division of divisiones" fxLayout="column">
        <div class="p-12 border" fxLayout.xs="column" fxLayout.gt-xs="row" fxLayoutAlign.gt-xs="space-between start">
          <mat-checkbox checked="true"> DIVISION {{ division }}</mat-checkbox>
          <button mat-raised-button color="primary" (click)="buscarAlumnos(division)">Ver Alumnos</button>
        </div>
      </div> -->
    </form>
    <!-- ================================================== -->
    <!-- ================================================== -->
    <div fxLayout="column" class="w-100-p" fxFlex.xs="100" fxFlex.gt-xs="45" style="border: 1px dashed; padding: 12px">
      <mat-progress-bar *ngIf="cargando" mode="indeterminate"></mat-progress-bar>
      <h3>Visualizar los alumnos {{ form.controls.cicloLectivo.value ? 'del ciclo ' + (form.controls.cicloLectivo.value - 1) : '' }}</h3>
      <div
        *ngIf="alumnos && alumnos.length > 0"
        [@animate]="{ value: '*', params: { delay: '50ms', scale: '0.2' } }"
        class="mt-20 p-0"
        fxLayoutAlign="center center"
        fxLayout="row"
      >
        <mat-form-field appearance="outline" color="accent" fxFlex.xs="100" fxFlex.gt-xs="45">
          <mat-label>Búsqueda Rápida</mat-label>
          <input matInput users (keyup)="filtroRapido($event.target.value)" [disabled]="dataSource.data.length == 0" />
          <mat-icon matSuffix>search</mat-icon>
        </mat-form-field>
      </div>
      <table mat-table matSort #sort="matSort" [dataSource]="dataSource" class="borde-tabla mat-elevation-z4 w-100-p">
        <ng-container matColumnDef="nombreCompleto">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Nombre y Apellido</th>
          <td mat-cell *matCellDef="let row">{{ row.nombreCompleto }}</td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="columnas"></tr>
        <tr mat-row *matRowDef="let row; columns: columnas" [ngClass]="{ row_deshabilitado: !row.activo }"></tr>
      </table>
      <app-empty-data *ngIf="!alumnos || alumnos.length < 1"></app-empty-data>
      <!-- Paginado -------------------------------------------------- -->
      <mat-paginator
        class="border-paginador paginator mat-elevation-z2 w-100-p"
        #paginator
        [pageSize]="5"
        [pageSizeOptions]="[5, 10, 25, 100]"
      >
      </mat-paginator>
      <!-- PAGINADOR -->
      <!-- <mat-paginator
          #paginator
          class="border-paginador paginator mat-elevation-z2"
          (page)="pageEvent = $event; cambioPagina($event)"
          [length]="total"
          [pageSize]="totalAsignaturasPorPagina"
          [pageSizeOptions]="[2, 5, 10, 25, 100]"
        >
        </mat-paginator> -->
    </div>
  </div>
  <div fxLayout="row" fxLayoutAlign="center start" class="mt-24">
    <button
      *ngxPermissionsOnly="['ADMIN', 'JEFETALLER']"
      mat-raised-button
      color="accent"
      (click)="actualizarCiclo()"
      [disabled]="form.invalid || form.controls.divisiones.value.length < 1"
    >
      ACTUALIZAR CICLO LECTIVO
    </button>
  </div>
</div>
