.mt-100 {
    margin-top: 100px !important;
  }
  tr.hovered {
    background-color: rgb(173, 173, 173);
    color: white;
  }
  tr.selected {
    background-color: rgb(43, 137, 226);
  }
  .row_seleccionada {
    color: white;
  }
  