.mt-100 {
  margin-top: 100px !important;
}
tr.hovered {
  background-color: #c8e0fe;
  color: white;
}
tr.selected {
  background-color: rgb(43, 137, 226);
}
.row_seleccionada {
  color: white;
}
.promedia {
  background: linear-gradient(-135deg, #89d4c4, #3da8b0);
  color: white;
}
.no_promedia {
  background: linear-gradient(-135deg, #627b97, #5d7394);
  color: white;
}
