// Import Design core library
@import '@design/scss/core';
// @import url('https://fonts.googleapis.com/css?family=Roboto');

// Import app.theme.scss
@import 'app/app.theme';
.opcion_sin_checkbox > .mat-list-item-content > .mat-pseudo-checkbox {
  opacity: 0 !important;
}

.position_relative {
  position: relative;
}
.checkbox_absolute {
  z-index: 4;
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  // background-color: rgba(0, 0, 0, 0.116);
}
.checkbox_invisible > label > .mat-checkbox-inner-container-no-side-margin {
  opacity: 0 !important;
}
.mt-50 {
  margin-top: 50px;
}
.pointer {
  cursor: pointer;
}
.mat-select-disabled .mat-select-value {
  color: rgb(0 0 0 / 68%) !important;
}
.mat-input-element:disabled,
body.theme-default .mat-form-field-type-mat-native-select.mat-form-field-disabled .mat-form-field-infix::after {
  color: rgb(0 0 0 / 68%) !important;
}
.mat-form-field-appearance-outline .mat-form-field-flex {
  // Force all inputs to have the same height.
  // Otherwise mat-select are doing their own thing and gain extra-height
  // https://github.com/angular/material2/issues/13198
  height: 3.2em;

  // mat-select
  // {
  // 	margin-top: -3.5em;
  // }
}
.mat-form-field-appearance-outline .mat-form-field-infix {
  padding: 0.3em 0 1em 0;
}
.mat-form-field-appearance-outline .mat-form-field-label {
  top: 1.5em;
  margin-top: -4px;
  padding-top: 1px;
}
.mat-form-field-appearance-outline.mat-form-field-can-float.mat-form-field-should-float .mat-form-field-label,
.mat-form-field-appearance-outline.mat-form-field-can-float .mat-input-server:focus + .mat-form-field-label-wrapper .mat-form-field-label {
  transform: translateY(-1.39375em) scale(0.75);
  width: 133.3333333333%;
}
.bg-white .mat-form-field-appearance-outline .mat-form-field-flex {
  background-color: white;
}
.mat-form-field-appearance-fill .mat-form-field-flex {
  border-radius: 4px !important;
  padding: 0.75em 0.75em 0.4em 0.75em;
}
.mat-form-field-appearance-fill .mat-form-field-flex {
  background-color: transparent !important;
  border: 1px solid rgb(209, 209, 209) !important;
}
.text_red {
  color: red;
}
.swal2-title {
  font-size: 1.64em !important;
}
.swal2-popup {
  width: 42em !important;
}
.swal2-styled.swal2-confirm,
.swal2-styled.swal2-cancel {
  font-size: 1.625em !important;
}
.swal2-content {
  font-size: 1.8em !important;
}
.swal2-timer-progress-bar {
  background: rgb(255 255 255 / 50%);
}
.mt-16 {
  margin-top: 16px;
}
.row_deshabilitado {
  background: #f86f6fc4 !important;
}
.icono_verde {
  color: rgb(5, 175, 5);
}
tr.hovered {
  background-color: #c8e0fe;
  color: white;
}
.tiene_etap {
  background: linear-gradient(-135deg, #1de9b6, #1dc4e9);
  color: white;
}
.no_tiene_etap {
  background: linear-gradient(-135deg, #899fd4, #a389d4);
  color: white;
}
.number_style {
  background: linear-gradient(-135deg, #899fd4, #a389d4);
  color: white;
}
.td > .nav-link-badge,
td > .nav-link-badge {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 20px;
  height: 25px;
  padding: 0 7px;
  font-size: 12px;
  font-weight: 600;
  border-radius: 20px;
  transition: opacity 0.2s ease-in-out 0.1s;
  margin-left: 8px;
  width: 45px;
  box-shadow: 0 5px 10px 0 rgb(0 0 0 / 20%);
}
.big_tooltip,
.tooltipXL {
  background-color: rgb(24, 24, 24) !important;
  font-size: 18px !important;
}
.tooltipL {
  background-color: rgb(24, 24, 24) !important;
  font-size: 15px !important;
}
//

.bell {
  font-size: 24px;
  position: relative;
  display: inline-block;
  /* border:dashed 1px rgba(0,0,0,.25); */
  margin: 0;
  padding: 0;
}

.bell .anchor {
  transform-origin: center top;
  display: inline-block;
  margin: 0;
  padding: 0;
}

.bell .layer-1 {
  color: #1d1e22;
  z-index: 9;
  animation: animation-layer-1 5000ms infinite;
  opacity: 0;
}

.bell .layer-2 {
  color: #1d1e22;
  z-index: 8;
  position: absolute;
  top: 0;
  left: 0;
  animation: animation-layer-2 5000ms infinite;
}

.bell .layer-3 {
  color: #333642;
  z-index: 7;
  position: absolute;
  top: 0;
  left: 0;
  animation: animation-layer-3 5000ms infinite;
}

@keyframes animation-layer-1 {
  0% {
    transform: rotate(0deg);
    opacity: 0;
  }
  8.0% {
    transform: rotate(0deg);
    opacity: 0;
  }
  12.0% {
    transform: rotate(42deg);
    opacity: 0.5;
  }
  16.0% {
    transform: rotate(-35deg);
    opacity: 0.4;
  }
  20.0% {
    transform: rotate(0deg);
    opacity: 0.1;
  }
  23.0% {
    transform: rotate(28deg);
    opacity: 0.3;
  }
  26.0% {
    transform: rotate(-20deg);
    opacity: 0.2;
  }
  29.0% {
    transform: rotate(0deg);
    opacity: 0.1;
  }
  31.0% {
    transform: rotate(16deg);
    opacity: 0;
  }
  33.0% {
    transform: rotate(-12deg);
    opacity: 0;
  }
  35.0% {
    transform: rotate(0deg);
    opacity: 0;
  }
  37.0% {
    transform: rotate(-6deg);
    opacity: 0;
  }
  39.0% {
    transform: rotate(0deg);
    opacity: 0;
  }
}

@keyframes animation-layer-2 {
  0% {
    transform: rotate(0deg);
  }
  8.0% {
    transform: rotate(0deg);
  }
  12.0% {
    transform: rotate(42deg);
  }
  16.0% {
    transform: rotate(-35deg);
  }
  20.0% {
    transform: rotate(0deg);
  }
  23.0% {
    transform: rotate(28deg);
  }
  26.0% {
    transform: rotate(-20deg);
  }
  29.0% {
    transform: rotate(0deg);
  }
  31.0% {
    transform: rotate(16deg);
  }
  33.0% {
    transform: rotate(-12deg);
  }
  35.0% {
    transform: rotate(0deg);
  }
  37.0% {
    transform: rotate(-6deg);
  }
  39.0% {
    transform: rotate(0deg);
  }
  40.0% {
    transform: rotate(6deg);
  }
  44.0% {
    transform: rotate(-3deg);
  }
  49.0% {
    transform: rotate(2deg);
  }
  55.0% {
    transform: rotate(0deg);
  }
  62.0% {
    transform: rotate(1deg);
  }
  70.0% {
    transform: rotate(0deg);
  }
}

@keyframes animation-layer-3 {
  0% {
    transform: rotate(0deg);
    opacity: 1;
  }
  8.0% {
    transform: rotate(0deg);
    opacity: 1;
  }
  12.0% {
    transform: rotate(52deg);
    opacity: 0.5;
  }
  16.0% {
    transform: rotate(-48deg);
    opacity: 0.4;
  }
  20.0% {
    transform: rotate(0deg);
    opacity: 1;
  }
  23.0% {
    transform: rotate(42deg);
    opacity: 0.3;
  }
  26.0% {
    transform: rotate(-30deg);
    opacity: 0.2;
  }
  29.0% {
    transform: rotate(0deg);
    opacity: 1;
  }
  31.0% {
    transform: rotate(26deg);
    opacity: 0.15;
  }
  33.0% {
    transform: rotate(-18deg);
    opacity: 0.1;
  }
  35.0% {
    transform: rotate(0deg);
    opacity: 1;
  }
  37.0% {
    transform: rotate(-12deg);
    opacity: 0.8;
  }
  40.0% {
    transform: rotate(6deg);
    opacity: 1;
  }
  44.0% {
    transform: rotate(-3deg);
    opacity: 0.8;
  }
  49.0% {
    transform: rotate(2deg);
    opacity: 1;
  }
  55.0% {
    transform: rotate(0deg);
    opacity: 1;
  }
  62.0% {
    transform: rotate(1deg);
    opacity: 1;
  }
  70.0% {
    transform: rotate(0deg);
    opacity: 1;
  }
}
