<div id="lock" fxLayout="column" class="h-100-p">
  <div id="lock-form-wrapper" fxLayout="column" fxLayoutAlign="center center">
    <div id="lock-form"  class=" mat-card" [@animate]="{ value: '*', params: { duration: '300ms', y: '100px' } }">
      <div
        *ngIf="authService.user$ | async as usuario"
        class="lock-form-header"
        fxLayout="column"
        fxLayoutAlign="center center"
        fxLayout.gt-xs="row"
        fxLayoutAlign.gt-xs="start center"
      >
        <div class="avatar-container">
          <img class="avatar big" [src]="usuario.picture" alt="icono" />
          <mat-icon class="s-32">lock</mat-icon>
        </div>

        <div>
          <div class="title">VERIFICAR EMAIL</div>
          <div class="subtitle">Verifique su casilla de correo y confirme el email correspondiente para poder utilizar el sistema.</div>
        </div>
      </div>

      <div class="message mt-24">
        <a class="link pointer" (click)="authService.logout({ returnTo: document.location.origin })">Cerrar Sesión</a>
      </div>
    </div>
  </div>
</div>
